.vsconfig

*.csproj
*.sln
*.meta

.vs/*
venv/*
UserSettings/*
ProjectSettings/*
Packages/*
obj/*
Logs/*
Library/*
results/*
Build/*
DataTextOutput/*
WoWBossFightMlNotes.txt
WoWBossFightMlPositionalLearningNotes.txt

